<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!-- script tags -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">

    <title>Musc Festivals</title>
</head>
<body>
    <nav>
        <a href = "/signup">Sign Up</a> 
        <a href = "/login">Login</a>
        <a href = "/newEvent">Save Event</a>
    </nav>
</body>
</html>