<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- script tags -->
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">

    <title>Music Festivals</title>
</head>
<body>
    <!--nav bar -->
    <div id ="musicFest">Muisc Festival Finder</div>
    <nav id ="navBar">
       <ul class="nav">
            <li><a href = "/">Home</a></li>
            <li><a href = "/search">Search Festivals</a><li>
            <li><a href = "/newEvent">Save Festivals</a><li>
            <li><a href = "https://rover33.github.io/Project-1-webgame/">Play Games</a></li>
            <% if (currentUser) {%>
            <li><a href="/logout">Logout <%= currentUser.email %></a></li>
            <% } else { %>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Signup</a></li>
            <% } %>
            
        </ul>
    </nav>
</body>
</html>