<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- script tags -->
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">

    <title>Music Festivals</title>
</head>
<body>
    <!--nav bar -->
    <div id ="musicFest">Muisc Festival Finder</div>
    <nav id ="navBar">
        <a href = "/signup">Sign Up</a> 
        <a href = "/login">Login</a>
        <a href = "/search">Search Festivals</a>
        <a href = "/newEvent">Save Festivals</a>
        <a href = "https://rover33.github.io/Project-1-webgame/">Play Games</a>
    </nav>
</body>
</html>