<% if (message.length > 0) { %>
    <div class="alert alert-danger"><%= message %></div>
  <% } %>

<!--bootstrap and stylesheet links -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="styles/styles.css">

<div id = "header">Login Credentials</div>

<nav id ="navBar">
        <a href = "/">Home</a>
        <a href = "/signup">Sign Up</a> 
        <a href = "/search">Search Festivals</a>
        <a href = "/newEvent">Save Festivals</a>
    </nav>

<!--login forms -->
<form action="/login" method="POST">
    <div id = "login" class = "col-md-4">
        <input type= "email" name="email" placeholder="email"</input>
        <input type= "password" name="password" placeholder="password"</input>
        <input type= "submit" value="submit"</input>
    </div>
</form>