<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

     <!-- STYLESHEETS -->
     <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">

    <title>Search</title>
</head>
<body>
     <!-- nav bar -->
    <div id ="musicFest">List of Festivals</div>
    <nav id ="navBar">
        <a href = "/">Home</a>
        <a href = "/signup">Sign Up</a> 
        <a href = "/login">Login</a>
        <a href = "/search">Search Festivals</a>
        <a href = "/newEvent">Save Festivals</a>
        <a href = "https://rover33.github.io/Project-1-webgame/">Play Games</a>
    </nav>

    <ul>
         <!-- ejs for rendering and appending the info to the page-->
        <% for (let i = 0; i < festivals.length; i++) { %>
            <div class = "festivalInfo" >
                <li><span id ="eventName">Name: </span><%= festivals[i].name %></li>
                <li><span id ="venueName">Venue: </span><%= festivals[i].venue %></li>
                <li><span id ="cityName">City: </span><%= festivals[i].city %></li>
                <li><span id ="dateName">Date: </span><%= festivals[i].eventDateLocal %></li>
            </div>
            <br>
        <% } %>
    </ul>
    
</body>
</html>