<!--ejs alert if wrong info was put in -->
<% if (message.length > 0) { %>
    <div class="alert alert-danger"><%= message %></div>
  <% } %>

<!--bootstrap and stylesheet links -->
 <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="styles/styles.css">

<div id = "header">Signup</div>
<!--nav bar -->
    <nav id ="navBar">
    <ul class="nav">
            <li><a href = "/">Home</a></li>
            <li><a href = "/search">Search Festivals</a><li>
            <li><a href = "/newEvent">Save Festivals</a><li>
            <li><a href = "https://rover33.github.io/Project-1-webgame/">Play Games</a></li>
        <% if (currentUser) {%> //ejs to check to see if user is logged in then hide login and sign up button, if not login or sign up
            <li><a href="/logout">Logout <%= currentUser.email %></a></li>
        <% } else { %> 
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Signup</a></li> 
             <% } %>
        </ul>
    </nav>
<!--signup forms -->
<form action="/signup" method="POST">
    <div id = "login" class = "col-md-12">
        <input class= "email" type= "email" name="email" placeholder="email"</input>
        <input class= "password" type= "password" name="password" placeholder="password"</input>
        <input class = "button" type= "submit" value="submit"</input>
    </div>
</form>