body{ /* backgoung color for the body */
 background: black;
 font-family: "lobster";
}

legend{ /* coloring and size for the legend title */
    color: white;
    font-size: 5rem;
}

#login{ /* centering login forms on page */
    text-align: center;
    margin-top: 20vh;
}

#header{ /* color and size for the header */
    color:white;
    text-align: center;
    font-size: 5rem;
}

#navBar{ /* nave bar sizing and padding */
    text-align: center;
    padding: 3rem;
    font-size: 3rem;
}

a{ /* coloring for the a tags and padding */
    color: lightseagreen;
    padding: 3rem;
}

.nav>li{ /* lining up the nav bar and centering it on the page */
    display: inline-block
}

li{ /* removing the bullet points from the list */
    list-style: none;
}

.container{ /* setting a conatiner width */
    width: 100%
}

#musicFest{ /* landing page header sizing */
    text-align: center;
    color: white;
    font-size: 4rem;
}

.festivalInfo{ /* rendered festival info on page */
    color: white;
    font-size: 2rem;
    margin-top: 2rem;
}

span{ /* coloring for the names on the list item on search page */
    font-weight: bold;
    color:lightseagreen;
}

label{ /* coloring for the labels on the save button */
    color: lightseagreen;
    font-weight: bold;
    font-size: 3rem;
}

.form-control{ /* form siziing */
    padding: 30px;
}

#submit { /* submit button sizing */
    padding: 20px;
    width: 150px;
}

.email, .password, .button{ /* sizing for login and password form */
    padding: 10px;
    width: 200px;
}