body{
 background: black;
}

legend{
    color: white;
}

label{
    color: white;
}

#login{
    text-align: center;
    margin-top: 20vh;
}

#header{
    color:white;
    text-align: center;
    font-size: 3rem;
}

#navBar{
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
}

a{
    padding: 2rem;
}

#musicFest{
    text-align: center;
    color: white;
    font-size: 4rem;
}