body{
 background: black;
 font-family: "lobster";
}

legend{
    color: white;
    font-size: 5rem;
}

label{
    color: white;
}

#login{
    text-align: center;
    margin-top: 20vh;
}

#header{
    color:white;
    text-align: center;
    font-size: 5rem;
}

#navBar{
    text-align: center;
    padding: 3rem;
    font-size: 3rem;
}

ul{
    text-align: center;
}

.nav>li{
    display: inline-block
}

li{
    list-style: none;
}

.container{
    width: 100%
}

a{
    padding: 3rem;
}

#musicFest{
    text-align: center;
    color: white;
    font-size: 4rem;
}

.festivalInfo{
    color: white;
    font-size: 2rem;
    margin-top: 2rem;
}

p{
    text-align: center;
    color:white;
    font-size: 3rem;
    margin-top: 7rem;
}

span{
    font-weight: bold;
    color:lightskyblue;
}

label{
    color: lightskyblue;
    font-weight: bold;
    font-size: 3rem;
}

.form-control{
    padding: 30px;
}

#submit {
    padding: 20px;
    width: 150px;
}

.email, .password, .button{
    padding: 10px;
    width: 200px;
}